Package: kos-libpng-dev
Version: 0.1.0
Architecture: amd64
Section: devel
Depends: kos-newlib, kos-zlib-dev
Pre-Depends: kos32-gcc
Priority: optional
Homepage: https://github.com/Egor00f/kos-libpng
Origin: http://git.kolibrios.org/KolibriOS/kolibrios
Maintainer: Egor00f <velikiydolbayeb@gmail.com>
Installed-Size: 752
Description: libpng library for kolibrios
 include and binary files
